body {
  background-image:url("https://st2.depositphotos.com/3776273/9208/i/450/depositphotos_92087088-stock-photo-great-black-gradient-background.jpg")
  
}

@font-face {
  src: url(DarkDimension-ollx.ttf);
  font-family: DarkDimension;
  
}

.house-btn {
  display:flex;
  width:15%;
  margin-left: 40%;
  font-family: DarkDimension;
}


#sorting {
  display:flex;
  justify-content:center;
  margin-left:35%;
  
  
}

#app {
  display:flex;
  gap:10px;
}

.card {
  border-radius:20px;
  font-family: DarkDimension;
  
}

.form {
  font-family:DarkDimension;
}


#expelled-students {
  display:flex;
  gap: 10px;
  justify-content:space-between;
  
}

#army {
  color:white;
  display:flex;
  justify-content:center;
  font-family:DarkDimension;
}

.voldy {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:20px;
  

}
#army-card {
  display:flex;
  gap: 20px;
  justify-content:space-between;

}



/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-3/oth258.cur), auto !important;} /* End https://www.cursors-4u.com */
