body {
  background-image:url("https://st2.depositphotos.com/3776273/9208/i/450/depositphotos_92087088-stock-photo-great-black-gradient-background.jpg")
  
}

@font-face {
  src: url(UbuntuMono-KyeD.ttf);
  font-family: UbuntuMono;
  
}

.house-btn {
  display:flex;
  width:15%;
  margin-left: 25%;
  font-family: UbuntuMono;
  border-radius:20px;
  
  gap:10px;
}

#all-btn {
border:3px solid black;
border-radius:15px;

}
#gryffindor-btn {
  border:3px solid black;
  border-radius:15px;
}

#hufflepuff-btn {
  border:3px solid black;
  border-radius:15px;
}

#slytherin-btn {
  border: 3px solid black;
  border-radius:15px;
}

#ravenclaw-btn {
  border: 3px solid black;
  border-radius:15px;
}


#sorting {
  display:flex;
  justify-content:center;
  margin-left:35%;
  
  
}

.container {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  
}

#army-card {
  background-color:red;
}

.expelled {
  display:flex;
 gap:10px;
  max-height:500px;

}

#app {
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  max-width:700px;
}

.card {
  border-radius:20px;
  font-family: UbuntuMono;
  
}

form {
  font-family:UbuntuMono;
}





#exampleModalLabel {
  font-family:UbuntuMono;
}




.army {
  color:white;
  display:flex;
  margin-left:40%;
  justify-content:center;
  font-family:UbuntuMono;
}

.voldy {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:20px;
  

}
#army-card {
  display:flex;
  gap: 20px;
  justify-content:space-between;

}



/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-3/oth258.cur), auto !important;} /* End https://www.cursors-4u.com */
